:root {
    --bg-color: #454545;
    --text-color: #FFE6C7;
    --button-color:#FFA559;
    --h-color: #FF6000;
}

@font-face {
    font-family: Alkatra;
    src: url(assets/Alkatra-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: var(--bg-color, black);
    font-family: Alkatra ;
    display: flex;
}

img {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.header {
    width: 60vw;
    height: 10vw;
    color: var(--h-color);
    font-size: 2em;
    margin-left: 32px;
}

.sub-header {
    width: 60vw;
    color: var(--h-color);
    font-size: 1.7em;
    margin-left: 32px;
    position: relative;
    bottom: 60px;
}

.header-container {
    margin-top: 20px;
}

.form-container {
    width: auto;
    margin-left: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.caption {
    color: var(--h-color);
    font-size: 1.6em;
    margin: 16px 32px;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 10vw;
    margin: 16px 32px;
    padding: 20px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.4em;
}

input {
    width: 200px;
    height: 30px;
    background: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid var(--bg-color);
    border-radius: 5px;
    font-size: inherit;
    font-weight: inherit;
    color: var(--bg-color);
}

input:focus {
    border: 2px solid #857767;
    outline: none;
}

input:invalid:focus {
    border: 2px solid var(--h-color);
}

input:valid {
    border: 2px solid #857767;
}